<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="slot">iSlot</li> 
       <li class="pagetitle"> </li>
      </ul>
    </div>
    <div class="module">
        <i class="glyphicon glyphicon-option-vertical ellipsis"></i>
      <div class="chunk">
        <div class="dropdown-content">
          <a    [routerLink]="['update-profile']">Update Profile</a>
          <a   [routerLink]="['change-password']">Change Password</a>
          <a href="#">Skill Management</a>
          <a href="#">Location Management</a>
          <a [routerLink]="['logout']">Log Out</a>
        </div>
      </div>
    </div>
  </div>

</nav>
