<div class="main-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
    <div class="navbar-header"></div>
        <a class="navbar-brand">ISlot</a>
        <a class="navbar-brand">Dashboard</a>        
        <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a></li>
            </ul> 
    </div>
</nav>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Choose your month</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>jan</option>
          <option>feb</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>june</option>
          <option>july</option>
          <option>aug</option>
          <option>sep</option>
          <option>Oct</option>
          <option>Nov</option>
          <option>Dec</option>          
        </select>
      </div>
     <div class="box1">
          </div>   
          <div class="box2">
            </div>      
 </div>