
<div class="main-container">
    <h5>Interviewer Dashboard</h5>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
      <div class="navbar-header"></div>
          <a class="navbar-brand" href="#">ISlot</a>
          <a class="navbar-brand" href="#">Dashboard</a>        
          <ul class="nav navbar-nav navbar-right">
              
                <li><a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a></li>
              </ul>            
    
      </div>
  </nav>
  <div class="container">
      <h3>Points so far..</h3>
      </div>    

<p>
    Recent Events
  </p><br><br>
    <div>
      <button type="button" class="btn btn-default"></button>
      <button type="button" class="btn btn-default"></button>    
  </div> <br><br>   
  <p>
    Upcoming Events</p><br><br>
    <div>
        <button type="button" class="btn btn-default"></button>
        <button type="button" class="btn btn-default"></button>    
    </div>    
  </div>
  