<app-header> </app-header>
<div class="main-container">
   
  <div class="container">
    <h3>  <span class="glyphicon glyphicon-flash"></span>
      Points so far..</h3>
      </div>    
<p>
  Recent Events
</p><br>
<div *ngFor="let event of recentevents"><br>
  <button class="eventBox" [style.border-color]="event.isClosed == 'true' ? 'black' : 'red' ">{{event.eventName}}</button>
</div> <br>
<p>
  Upcoming Events</p><br>
<div *ngFor="let event of upcomingevents"><br>
  <button class="eventBox" [style.border-color]="event.isClosed == 'true' ? 'black' : 'red' ">{{event.eventName}}</button>
</div> <br>
</div>