.btn-default{
    width: 80px;
    height: 70px;
    border: 2px solid black;
  }
  div {
      margin-left: 50px;
  }
  p{
      margin-top: 30px;
      margin-left: 30px;
      font-weight: bold;
      font-size: 20px;
  }
  .fa-line-chart{
      font-size: 30px;
  
  }
  .glyphicon-option-vertical{
      font-size: 30px;
  }
  
  .main-container{
      margin-top: 50px;
      border-block-end-color: black;
      width: 800px;
      height: 600px;
      margin: auto;
      padding: 20px;
      box-shadow: 0px 0px 8px grey;
      background-color: white;
  }
  .container{
    border-block-end-color: black;
    height: 250px;
    width: 250px; 
    float: right;
    width: 250px;
    height: 300px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0px 8px grey;
    background-color: white;
    border: 2px solid black;
    
}
  
h3{
    font-weight: bold;    
}