<h3>Event-Enrollment</h3>
<div> <div class="groove">
  <br>
  <div class="groove1" *ngFor="let slot of events.slots"> 
      <div class="firstSlot">
      <div class="timeDetails">
          <p id="time">{{slot.startTime}} - {{slot.endTime}}</p>
          <span class="dot" id="round">
              <span style="font-size:22px">{{slot.numberOfInterviewersEnrolled.length}}</span>
          </span>
          <div> <label class="switch">
                <!-- slot.isEnrolled?'checked':'' -->
                  <input type="checkbox" (change)="updateEvent($event,slot.slotId)"  [disabled]="eventStatus=='recent' ? true : null" >
                  <span class="slider round" ></span> </label>
          </div>
          <div class="interviews">  
            <div for="interviewsTaken"> 
               <input type="text" id="interviewsTaken" [disabled]="events.isClosed=='true' ? true : null || eventStatus == 'recent' ? null : true">
            </div>
        </div>  
     
    </div>

  </div>
</div>


<button type="submit" class="btn btn-success" id="button">Update</button>

</div>