<h3>Event-Enrollment</h3>
<div> <div class="groove">
  <br>
  <div class="groove1"> <div class="firstSlot">
      <div class="timeDetails">
          <p id="time">9AM - 11AM</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span> </label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div>
</div>
  <br>
  <div class="groove1"> <div class="firstSlot">
      <div class="timeDetails">
          <p id="time">11AM - 2PM</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span></label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div></div>
  <br>
  <div class="groove1"><div class="firstSlot">
      <div class="timeDetails">
          <p id="time">2PM - 4M</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span></label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div> </div>
  <br>
  <div class="groove1"><div class="firstSlot">
      <div class="timeDetails">
          <p id="time">4PM - 6PM</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span></label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div> </div>
  
</div>

<button type="button" class="btn btn-success" id="button">Update</button>
</div>
