<h3>Event-Enrollment</h3>
<div> <div class="groove">
  <br>
  <div class="groove1"> <div class="firstSlot">
      <div class="timeDetails">
          <p id="time">9AM - 11AM</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox"  >
                  <span class="slider round"></span> </label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div>
</div>
  <br>
  <div class="groove1"> <div class="firstSlot">
      <div class="timeDetails">
          <p id="time">11AM - 2PM</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span></label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div></div>
  <br>
  <div class="groove1"><div class="firstSlot">
      <div class="timeDetails">
          <p id="time">2PM - 4M</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span></label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div> </div>
  <br>
  <div class="groove1"><div class="firstSlot">
      <div class="timeDetails">
          <p id="time">4PM - 6PM</p>
          <span class="dot" id="round">
              <span style="font-size:22px">3</span>
          </span>
          <div> <label class="switch">
                  <input type="checkbox" >
                  <span class="slider round"></span></label>
          </div><div class="interviews">  
              <div for="interviewsTaken">Total Interviews Taken
               <input type="text" id="interviewsTaken"></div>
              </div>   </div>    
     
  </div> </div>
  
</div>

<button type="button" class="btn btn-success" id="button">Update</button>
</div>
<!-- <div class="timeSlots">
    <h3>Event Enrollment</h3>
    <div class="firstSlot">
        <div class="timeDetails">
            <p id="time">9AM - 11AM</p>
            <span class="dot" id="round">
                <span style="font-size:22px">3</span>
            </span>
            <label class="switch">
                    <input type="checkbox" >
                    <span class="slider round"></span>
                  </label>
             <span class="interviews">  
                          <label for="interviewsTaken">Total Interviews Taken</label>
                           <input type="text" id="interviewsTaken">
             </span>     
           
        </div>
    </div>
    <div class="secondSlot">
            <div class="timeDetails">
                    <p id="time">11AM - 1PM</p>
                    <span class="dot" id="round">
                        <span style="font-size:22px">3</span>
                    </span>
                    <label class="switch">
                            <input type="checkbox" >
                            <span class="slider round"></span>
                          </label>
                     <span class="interviews">  
                                  <label for="interviewsTaken">Total Interviews Taken</label>
                                   <input type="text" id="interviewsTaken">
                     </span>     
                   
                </div>
    </div>
    <div class="thirdSlot">
            <div class="timeDetails">
                    <p id="time">1PM - 3PM</p>
                    <span class="dot" id="round">
                        <span style="font-size:22px">3</span>
                    </span>
                    <label class="switch">
                            <input type="checkbox" >
                            <span class="slider round"></span>
                          </label>
                     <span class="interviews">  
                                  <label for="interviewsTaken">Total Interviews Taken</label>
                                   <input type="text" id="interviewsTaken">
                     </span>     
                   
                </div>
    </div>
    <div class="fourthSlot">
            <div class="timeDetails">
                    <p id="time">3PM - 5PM</p>
                    <span class="dot" id="round">
                        <span style="font-size:22px">3</span>
                    </span>
                    <label class="switch">
                            <input type="checkbox" >
                            <span class="slider round"></span>
                          </label>
                     <span class="interviews">  
                                  <label for="interviewsTaken">Total Interviews Taken</label>
                                   <input type="text" id="interviewsTaken">
                     </span>     
                   
                </div>
    </div>
    <button type="button" class="btn btn-success" id="button">UPDATE</button>
</div> -->
