
<div class="container">
  <h5>Admin Dashboard</h5>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"></div>
      <a class="navbar-brand">ISlot</a>
      <a class="navbar-brand">Dashboard</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-line-chart"></i></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a></li>
      </ul>
    </div>
  </nav>
  <a [routerLink]="['driveregistration']">
    <span class="glyphicon glyphicon-plus-sign"></span>
  </a>

  <p>
    Recent Events
  </p><br>
  <div *ngFor="let event of recentevents"><br>
    
    <button class="eventBox" (click)="storeId(event.eventId)" [style.border-color]="event.isClosed == 'true' ? 'black' : 'red' ">{{event.eventName}}</button>
    <!-- <button type="button" class="btn btn-default"></button>     -->
  </div> <br>
  <p>
    Upcoming Events</p><br>

    <div *ngFor="let event of upcomingevents"><br>
    <button class="eventBox" (click)="storeId(event.eventId)" [style.border-color]="event.isClosed == 'true' ? 'black' : 'red' ">{{event.eventName}}</button>
  </div> <br>
</div>
