
<div class="container">
<h2><p class="header">Login</p></h2>
  <form [formGroup]="loginForm">
      <div class="input-group center">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
      </div>
      <div class="alert alert-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors">Please Enter the Email Id</div>
      <div class="input-group center">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
      </div>
      <div class="alert alert-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').errors">Please Enter the Password</div>
      <button type="button" class="btn btn-success center">Login</button>
      </form>
</div>
