<head>
  
</head><div class="container">
    <h2><p class="header">Register As An Interviewer</p></h2>
      <form [formGroup]="registerInterviewerForm">
          <div class="input-group center">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="username" type="text" class="form-control" name="username" formControlName="username" placeholder="User Name">
          </div>
          <div  class="alert alert-danger" *ngIf="registerInterviewerForm.get('username').touched && registerInterviewerForm.get('username').errors">Please Enter the valid User name</div>
            
          <div class="input-group center">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" ></i></span>
            <input id="email" type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
          </div>
          <div  class="alert alert-danger" *ngIf="registerInterviewerForm.get('email').touched && registerInterviewerForm.get('email').errors">Please Enter the valid Email Id</div>
          

          <div class="input-group center">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input id="mobile" type="password" class="form-control" name="mobile" placeholder="Mobile Number">
            </div>
          <div class="input-group center">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div>

              <ss-multiselect-dropdown [options]="myOptions"  [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
            </div>
            <button type="button" class="btn btn-success center">Register</button>
          </form>
    </div>
