.item
{
    height: 20vh;
    width: 10vw;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 1px 1px 1px black; 
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 5ms;

  }
.item:hover
{
    box-shadow: 4px 4px #405751;

}
.glyphicon.glyphicon-trash
{
  float:right;
  color: blue;
}
.row
{
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 80px;
}
#textfield{
  border-color: white;border-style: none;
}

#tile{
  margin-left:50px;
}
#style
{
  border-style: none;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}