.groove {border-style: groove;
    margin-left: 30vh;
    margin-top: 4vh;
    height: 77vh;
    width:110vh;
    }
    .groove1 {border-style: groove;
        height: 16vh;
        width:100vh;
        margin-left: 5vh;
        
        }
        .groove2 {border-style: inset;
            height: 12vh;
            width: 40vh;
            margin-left: 34vh;
            margin-top: -5%;
            position: relative;
            display: flex;
            }
            #time{
                margin-left: 5vh;
                margin-top: 4vh;
                font-family: cursive;
                font-weight: bold;
         }
 #count{
    margin-left: 70vh;
    margin-top: 3%;
    height: 25%;
    padding: 2%;
    width: 0%;
    border-style: solid;
}
      #count1{
         
          padding: 5%;
          font-family: cursive;
          font-size: 16px;
          font-weight: bold;
          margin-left:10vh;

      }
      #count2
      { padding: 2%;
        width: 0%;
        margin-left: 17vh;
        border-style: solid;
      }
      #button{
          margin-left: 20vh;
      }
      .grooveupdate {border-style: groove;
        margin-left: 30vh;
        margin-top: 4vh;
        height: 77vh;
        width:110vh;
        }
        #closebutton
        {
            margin-left: 59vh;
        }
     #person{
        
         color:black;
         background-color: white;
         border:white;
        height: 5vh;
     }