
<!-- <div class="container">
    <h2>Dynamic Tabs</h2>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#view">VIEW</a></li>
      <li><a data-toggle="tab" routerLink="#update">UPDATE</a></li>
     
    </ul>
  
    <div class="tab-content">
      <div id="view" class="tab-pane fade in active">
         
      
        <h3>VIEW</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="update" class="tab-pane fade">
        <h3>UPDATE</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    
       
     
    </div>
  </div> -->
 
        <!-- <div> <div class="groove">
            <br>
            <div class="groove1"> </div>
            <br>
            <div class="groove1"> </div>
            <br>
            <div class="groove1"> </div>
          </div>
        </div> -->
        <mat-tab-group>
            <mat-tab label="First"> <h1>Content 1</h1></mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>
  <!-- <div class="groove">
    <br>
    <div class="groove1"> </div>
    <br>
    <div class="groove1"> </div>
    <br>
    <div class="groove1"> </div>
  </div>
   -->
  