<div class="main-container">
  <div class="container">
      <form>
          <div class="form-group">
              <label class="control-label col-sm-3" for="eventname">Name:</label>
              <input type="text" class="forms-group" name="eventname" id="ename"formControlName="eventname">
          </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="eventdate">Event date:</label>
                <input type="date" class="forms-group" id="eventdate">
              </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="starttime">Start Time:</label>
                    <input type="text" class="forms-group" id="starttime">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="endtime">End Time:</label>
                    <input type="text" class="forms-group" id="endtime">
                </div>
                <div class="form-group">
                    
                  <label class="control-label col-sm-3" for="location">Location:</label>
               
                   <select id="location"class="forms-group" class="forms-group" formControlName="location" >
                    
                       <option value="Hyderabad" checked>Hyderabad</option>
                    
                       <option value="chennai">chennai</option>
                    
                       <option value="Bangalore">Bangalore</option>
                    
                       <option value="Pune">Pune</option>
                    
                       <option value="Gurgaon">Gurgaon</option>
                    
                 </select> 
               </div>
               
               <div class="form-group">
                  <label class="control-label col-sm-3" class="control-label col-sm-2" for="skills">Skills:</label>
                  <select multiple id="skills"class="forms-group" class="forms-group" formControlName="skills"> 
                    <option value="javascript">JavaScript</option> 
                    <option value="angular">Angular</option> 
                    <option value="react">React</option> 
                    <option value="java">Java</option> 
                  </select>
                  <br>
                  <span> * To select multiple skills ctrl + click</span>
               </div>
              <div>
              <button type="reset" class="btn btn-primary">Reset</button>
              <button type="submit" class="btn btn-primary" id="submitting" [disabled]="eventFormGroup.invalid" (click)="onSubmit()">Create Event</button>
              </div>
</form>
  </div>
</div>
 