<div class="container">
    <h2>
      <p class="header">Drive Registration</p>
    </h2>
    <form [formGroup]="driveregistrationForm" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <div class="input-group center">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-user"></i>
        </span>
        <input id="eventname" type="text" class="form-control" (ngModel)="eventname" name="eventname" formControlName="eventname" placeholder="Event Name">
      </div>
      <div class="alert alert-danger" *ngIf="driveregistrationForm.get('eventname').touched && driveregistrationForm.get('eventname').errors">Please Enter the Event name</div>
      <div class="input-group center">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>        
          <input id="joindate"  type="date" class="form-control" (ngModel)="joindate" name="joindate" formControlName="joindate" placeholder="date">
        </div>
        <div class="alert alert-danger" *ngIf="driveregistrationForm.get('joindate').touched && driveregistrationForm.get('joindate').errors">Please Enter the date</div>
        <div class="input-group center">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-time"></i>Slot-1 Start Time
            </span>        
            <input id="starttime"  type="time" class="form-control" (ngModel)="slot1starttime" name="starttime" formControlName="slot1starttime" placeholder="Start Time">
          </div>
          <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot1starttime').touched && driveregistrationForm.get('slot1starttime').errors">Please Enter the start time</div>          
          <div class="input-group center">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>Slot-1 End Time
              </span>        
              
              <input id="endtime"  type="time" class="form-control" (ngModel)="slot1endtime" name="endtime" formControlName="slot1endtime" placeholder="End Time">
            </div>  
            <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot1endtime').touched && driveregistrationForm.get('slot1endtime').errors">Please Enter the end time</div>
            <div class="input-group center">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-time"></i>Slot-2 Start Time
                </span>        
                <input id="starttime"  type="time" class="form-control" (ngModel)="slot2starttime" name="starttime" formControlName="slot2starttime" placeholder="Start Time">
              </div>
              <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot2starttime').touched && driveregistrationForm.get('slot2starttime').errors">Please Enter the start time</div>          
              <div class="input-group center">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-time"></i>Slot-2 End Time
                  </span>        
                  
                  <input id="endtime"  type="time" class="form-control" (ngModel)="slot2endtime" name="endtime" formControlName="slot2endtime" placeholder="End Time">
                </div>  
                <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot2endtime').touched && driveregistrationForm.get('slot2endtime').errors">Please Enter the end time</div>
                <div class="input-group center">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-time"></i>Slot-3 Start Time
                    </span>        
                    <input id="starttime"  type="time" class="form-control" (ngModel)="slot3starttime" name="starttime" formControlName="slot3starttime" placeholder="Start Time">
                  </div>
                  <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot3starttime').touched && driveregistrationForm.get('slot3starttime').errors">Please Enter the start time</div>          
                  <div class="input-group center">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>Slot-3 End Time
                      </span>        
                      
                      <input id="endtime"  type="time" class="form-control" (ngModel)="slot3endtime" name="endtime" formControlName="slot3endtime" placeholder="End Time">
                    </div>  
                    <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot3endtime').touched && driveregistrationForm.get('slot3endtime').errors">Please Enter the end time</div>
                    <div class="input-group center">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-time"></i>Slot-4 Start Time
                        </span>        
                        <input id="starttime"  type="time" class="form-control" (ngModel)="slot4starttime" name="starttime" formControlName="slot4starttime" placeholder="Start Time">
                      </div>
                      <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot4starttime').touched && driveregistrationForm.get('slot4starttime').errors">Please Enter the start time</div>          
                      <div class="input-group center">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>Slot-4 End Time
                          </span>        
                          
                          <input id="endtime"  type="time" class="form-control" (ngModel)="slot4endtime" name="endtime" formControlName="slot4endtime" placeholder="End Time">
                        </div>  
                        <div class="alert alert-danger" *ngIf="driveregistrationForm.get('slot4endtime').touched && driveregistrationForm.get('slot4endtime').errors">Please Enter the end time</div>
      <div class="input-group center">
          <div class="input-group-prepend">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-certificate"></i>
              </span>
              <span class="input-group-addon">Select Your Skills</span>
              <span class="input-group-addon special">
                  <select class="form-control" formControlName="skills" (ngModel)="skills" id="exampleFormControlSelect1">
                      <option></option>
                      <option>angular</option>
                      <option>react</option>
                      <option>.net</option>
                      <option>java</option>
                      <option>testing</option>
                    </select>
                  </span>        
          </div>
      </div>
      <div class="alert alert-danger" *ngIf="driveregistrationForm.get('skills').touched && driveregistrationForm.get('skills').errors">Please Select the skills</div>
      <div class="input-group center">
  
        <div class="input-group-prepend">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-globe"></i>
          </span>
          <span class="input-group-addon">Select Your Location</span>
          <span class="input-group-addon special">
            <select class="form-control" formControlName="location" (ngModel)="location" id="exampleFormControlSelect1">
              <option></option>
              <option>chennai</option>
              <option>Hyderabad</option>
              <option>pune</option>
              <option>bangalore</option>
              <option>gurgaon</option>
            </select>
          </span>
        </div>
      </div>
  
      <div class="alert alert-danger" *ngIf="driveregistrationForm.get('location').touched && driveregistrationForm.get('location').errors">Please Select the Location</div>
  
      <button type="reset" class="btn btn-success center">Reset</button>
      <button type="submit" class="btn btn-success center">create event</button>
    </form>
  </div>