<nav class="navbar navbar-inverse">
    <div class="container-fluid" id="tile">
      <div class="navbar-header">
            <a class="navbar-brand" href="#">iSlot</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-option-vertical"></span></a></li>
      </ul>
    </div>
  </nav>
  <div id="style">
  <div class="text-center">
      <form [formGroup]="locations">
          <div class="form-group">
              <input type="text" class="form-control" id="myLocation" name="myLocation" formControlName="myLocation" placeholder="Add a new location" ngModel>
              <div class="alert alert-danger" *ngIf="locations.get('myLocation').touched && locations.get('myLocation').errors">Please enter the Location</div>
          </div>
      </form>
       <div  class="row">
        <div class="item col-lg-3" id="tile" >
                <a routerLink="/"><span class="glyphicon glyphicon-trash"></span></a>
            <input type="text" name="" value="Chennai" id="textfield">
        </div>
        <div class="item col-lg-3" id="tile">
            <a routerLink="/"><span class="glyphicon glyphicon-trash"></span></a>
            <!-- <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
            </button> -->
            <input type="text" name="" value="Bangalore" id="textfield">
        </div>
        <div class="item col-lg-3" id="tile">
                <a routerLink="/"><span class="glyphicon glyphicon-trash"></span></a>
          <input type="text" name="" value="Hyderabad" id="textfield">
        </div>
     </div>
    <div class="row">
       <div class="item col-lg-3" id="tile">
            <a routerLink="/"><span class="glyphicon glyphicon-trash"></span></a>
          <input type="text" name="" value="Pune"id="textfield">
       </div>    
       <div class="item col-lg-3" id="tile">
            <a routerLink="/"><span class="glyphicon glyphicon-trash"></span></a>      
                <input type="text" name="" value="Noida" id="textfield">
       </div> 
       <div class="item col-lg-3" id="tile">
            <a routerLink="/"><span class="glyphicon glyphicon-trash"></span></a>
                <input type="text" name="" value="Gurgon" id="textfield">
      </div>  
   </div>
  </div>
</div>      
  