/* .container
{
    display: grid;
    grid-template-columns:100px 100px 100px 100px;
    grid-gap: 60px 60px;
    margin: 20px 40px;
    grid-template: 100px;
} */
.column
{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 1px 1px 1px #171515; 
    transition-duration: 1s;
    transition-timing-function: ease; 
   transition-delay: 5ms; 
    padding:30px; 
    display: inline-block;
    border: 1px solid transparent;
    margin:10px 10px;

}
.item:hover
{
    box-shadow: 4px 4px 4px 4px #405751;

}
.row{
  padding-bottom: 20px;
}


